[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "==3.4.0"
pelican-gist = "*"
pelican-git = "*"
pelican-minification = "*"
ghp-import = "*"
Markdown = "*"

[dev-packages]

[requires]
python_version = "3.6"
