{{- $context := .Context -}}

{{- if not .Params.taxonomy -}}
    {{- warnf "Taxonomy field is required" -}}
{{- end -}}

{{- $taxonomy := index $context.Site.Taxonomies .Params.taxonomy -}}
{{- if not $taxonomy -}}
    {{- warnf "Taxonomy %s not found" .Params.taxonomy -}}
{{- end -}}

{{- $taxonomyPage := $taxonomy.Page -}}
{{- $widgetTitle := .Params.title -}}
{{- $limit := default 10 .Params.limit -}}
{{- $icon := default .Params.taxonomy .Params.icon -}}
{{- $showLink := default true .Params.showLink -}}

<section class="widget tagCloud widget-{{ .Params.taxonomy }}">
    <div class="widget-icon">
        {{ partial "helper/icon" $icon }}
    </div>
    <h2 class="widget-title section-title">
        {{ if and $showLink $taxonomyPage }}
            <a href="{{ $taxonomyPage.RelPermalink }}">
                {{ $widgetTitle }}
            </a>
        {{ else }}
            {{ $widgetTitle }}
        {{ end }}
    </h2>

    <div class="tagCloud-tags">
        {{ $sorted := $taxonomyPage.Pages.ByTitle }}
        {{ if eq .Params.taxonomy "tags" }}
            {{ $sorted = $taxonomy.ByCount }}
        {{ end }}
        {{ range first $limit $sorted }}
            {{ $item := . }}
            {{ if eq $.Params.taxonomy "tags" }}
                {{ $item = .Page }}
            {{ end }}
            {{ $color := partial "helper/color-from-str" $item.Title }}
            <a href="{{ $item.RelPermalink }}" style="background: linear-gradient(135deg, {{ $color.BackgroundColor | safeCSS }}, hsl({{ $color.Hue }}, 60%, 78%)); color: {{ $color.TextColor | safeCSS }};">
                {{ $item.Title }}
            </a>
        {{ end }}
    </div>
</section>
